

html{
    background-color:white;
}

body {
    margin: 0 auto;
    width: 1024px;
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
.avatar{
    border-radius: 90px;
    width: 150px;
    height: 150px;
    
}